@import 'reset';

$drawingboard-bg: #3D3D43;
$body-bg: $drawingboard-bg;
$body-color: #AAA;

$statusline-color-drawing: #558000;
$statusline-color-selection: #2a9fd6;
$statusline-color-deleting: #BB0000;
$statusline-color-moving: #ff8800;

$btn-color-selection: $statusline-color-selection;
$btn-color-group: $statusline-color-drawing;
$btn-color-deleting: $statusline-color-deleting;
$btn-color-moving: $statusline-color-moving;

$shape-color: black;
$shape-color-hover: #555;
$shape-color-selected: #0055DD;
$shape-color-selected-hover: #00AAFF;
$shape-color-blur: #222;
$shape-color-target: #B77E7E;
$shape-color-target-background: #3C3535;
$shape-color-handle: red;
$shape-color-action: #bf0a0a;

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: $body-bg;
    color: $body-color;
    font-family: sans-serif;
}

#drawingBoard {
    background-color: $drawingboard-bg;
}

#outline {
    border: solid 1px #222;
}

.statusline {
    margin-bottom: 1em;
    padding: 3px;
    background-color: #222;
    font-size: small;

    &.drawing {
        color: $statusline-color-drawing;
    }

    &.selection {
        color: $statusline-color-selection;
    }

    &.deleting {
        color: $statusline-color-deleting;
    }

    &.moving {
        color: $statusline-color-moving;
    }
}

.btn {
    margin: 0.5em;
    padding: 0.5em 0.5em;
    border: 1px solid;
    display: inline-block;

    &:hover {
        background-color: black;
        cursor: pointer;
    }

    &.btn-selection {
        color: $btn-color-selection;
    }

    &.btn-group {
        color: $btn-color-group;
    }

    &.btn-deleting {
        color: $btn-color-deleting;
    }

    &.btn-moving {
        color: $btn-color-moving;
    }

    &.btn-selected {
        color: $btn-color-selection;
    }
}

.btn-group {
    margin-right: 1em;
}

.modeTools {
}

.shape {
    &.no-fill {
        fill: transparent;
    }

    @mixin shapeColor($color) {
        stroke: $color;
        &:not(.no-fill) {
            fill: $color;
        }
    }

    &:hover:not(.selected),
    .shape-group:hover &:not(.selected) {
        @include shapeColor($shape-color-hover);
        .drawing & {
            @include shapeColor($shape-color);
        }

    }

    &.selected {
        @include shapeColor($shape-color-selected);
        &:hover {
            @include shapeColor($shape-color-selected-hover);
        }
    }

    .translate &:not(.translating),
    .rotate &:not(.rotating):not(.handle)
    {
        @include shapeColor($shape-color-blur);
        &.target:not(.action) {
            stroke: $shape-color-target;
            fill: $shape-color-target-background;
        }
        &.action {
            stroke: $shape-color-action;
            &:not(.no-fill) {
                fill: transparent;
            }
        }
    }

    &.handle {
        @include shapeColor($shape-color-handle);
    }

}

input[type=text] {
    margin: 0.5em;
    padding: 0.25em;
    border: 1px solid black;
    background-color: #303036;
    color: #CCC;
    width: 50px;
}

.focus-code {
    position: fixed;
    bottom:0;
}


.space-l {
    margin-left: 3px;
}

.space-r {
    margin-right: 3px;
}

.space-lr {
    margin-left: 3px;
    margin-right: 3px;
}
